#container {

}

h1 {
    text-align: center;    
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    background-color: #ff011f;
    border-style: outset;
    border-color: dimgray;
    border-radius: 5px;
    padding: 50px 50px 75px;
}

.box {
    width: 30px;
    height: 30px;
    border-style: solid;
    border-width: 2px;
    background-color: gray;
    border-color: gray;
    /* border-radius: 2px; */
    /* margin: -2px; */
}

.filledBox {
    background-color: black;
    border-color: black;
}